body{
    background-color: yellow;
}
*{
    margin: 0;
}
nav{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    color: white;
}
header{
    position: sticky;
    top: 0;
}
#nav-name{
    display: flex;
    width: 25%;
    justify-content: space-around;
}